{{#if loggedIn}}
<section class="container">
    <h3 class="dashboard-title">{{user.username}} is now <span class="logo-span-1">ONline</span></h3>
    <div>
        <a href="../events.handlebars" class="btn btn-primary">Create Event</a>
    </div>
</section>
{{else}}
{{> login-details}}
{{/if}}
