<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ONline</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>

  <body>
    <header class="header-layout">
      <h1 id="brand-header"><img src="/assets/images/logo.png" /></h1>
    </header>
    <nav class="nav-btns">
      <h1 class="time-header">Current Time:
        <span id="clock">{{time}}</span></h1>
      <div id="home-btn"><a href="/"><b>Home</b></a></div>
      <div class="nav-btns" id="dashboard-btn"><a href="/dashboard"><b
          >Dashboard</b></a></div>
      {{#if loggedIn}}
        <div id="logout-btn"><a id="logout" class="logout"><b
            >Logout</b></a></div>
      {{else}}
        <div id="login-btn"><a href="/login"><b>Login</b></a></div>
      {{/if}}
      <div id="aboutus-btn"><a href="/aboutus"><b>About us</b></a></div>
    </nav>
    <main>
      <div class="body-sect">
        {{{body}}}
      </div>
    </main>

    {{#if loggedIn}}
      <script src="/js/logout.js"></script>
    {{/if}}
    <script src="/utils/helper.js"></script>

  </body>

</html>