<div class="aboutus">
  <section>
    <h2>Why did we create this site?</h2>
    <p>As casual gamers, we often find ourselves caught up in the demands of
      daily life, losing track of time and missing those cherished late-night
      gaming sessions. Coordinating with friends becomes increasingly
      challenging, with unexpected commitments and forgetfulness getting in the
      way. That's where our app steps in. We've streamlined the process,
      providing reminders not only through emails but also via a dedicated
      Discord bot, ensuring everyone stays connected and on the same page.
    </p>
  </section>
  <section class="give-some-space">
    <h2>Future App Updates</h2>
    <ul class="styled-list">
      <li><strong>App Development:</strong>
        Create a mobile app version of the platform to provide a seamless
        experience on the go.</li>
      <li><strong>Personalized Dashboards:</strong>
        Implement customizable user dashboards where gamers can track their
        gaming sessions, achievements, and upcoming events.</li>
      <li><strong>Advanced Notification System:</strong>
        Expand the notification system to include SMS notifications and
        integration with other social media platforms for reminders and updates.</li>
      <li><strong>Event Hosting and Streaming:</strong>
        Enable users to host and stream their own gaming events, tournaments,
        and live sessions directly through the platform.</li>
      <li><strong>Community Feedback Loop:</strong>
        Establish a robust feedback loop with users to gather insights,
        suggestions, and areas for improvement.</li>
    </ul>
  </section class="give-some-space">
<h2>Stay connected</h2>
<p>Get to see our other projects by clicking our names!</p>
  <ul class="creators-list">
<li><a href="https://github.com/BunggoyLearn">Bung</a></li>
<li><a href="https://github.com/RyanPetersen-89">Ryan</a></li>
<li><a href="https://github.com/CrisSal2">Cris</a></li>
<li><a href="https://github.com/JordanGWiz">Jordan</a></li>
</ul>
  <section>

  </section>
</div>