<div>
  <h1>Welcome to ONline</h1>
  <section>
    <p>This is a all-in-one platform designed for gamers to stay connected,
      informed, and engaged with their community events. Our website seamlessly
      integrates with a powerful Discord bot to bring you a comprehensive event
      management system tailored to your gaming needs.</p>

  </section>
  <section class="give-some-space">
    <h3>BUT BEFORE YOU EXPLORE ANY FARTHER TRAVELER!!</h3>
    <p>Make sure you add the ONline discord bot to your servers so you can stay
      connect and get the full use of our services.</p>
    <img class="discord-qr" src="/assets/images/online-bot-1024_1.jpeg" />
  </section>
</div>