:root {
  --black: rgb(0, 0, 0);
  --charcoal: #242424;
  --medium-gray: #404249;
  --light-gray: #b5b5b5;
  --white: #ffffff;
  --discord-green: #3da45c;
  --discord-blue: #5865f2;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.5;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 0;
  padding: 0;
  background-image: url("/assets/images/background.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
}

nav {
  text-align: center;
  display: flex;
  justify-content: center;
}

nav > div {
  /* Styles for direct div children of nav */
  background-color: var(--medium-gray);
  margin: 20px;
  padding: 10px 10px;
  border-radius: 20px;
  border: var(--discord-blue) outset 8px;
}

nav > div > a {
  text-decoration: none;
}

a {
  color: var(--discord-green);
}

/*******************************************************/
/******************** ID Section ********************/
/*******************************************************/

#brand-header {
  font-size: 48px;
}

/*******************************************************/
/******************** Class Section ********************/
/*******************************************************/

.body-sect {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  background: var(--medium-gray);
  border-radius: 20px;
  box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;
  color: var(--white);
}

.give-some-space {
  padding: 30px;
}

.discord-qr {
  max-width: 100%;
  height: 400px;
}

.dashboard-title {
  font-size: 32px;
}

.logo-span-1 {
  color: var(--discord-green);
  font-size: 32px;
}

.logout {
  text-decoration: underline;
}

.header-layout {
  background-color: var(--black);
  width: 100%;
  height: auto;
}

.header-layout img {
  height: 150px;
  width: auto;
  transition: transform 0.2s;
  transition: opacity 10s ease-in-out, transform 0.2s;
}

.styled-list {
  list-style-type: none;
}

.styled-list li {
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  font-size: 1em;
}

.styled-list li:hover {
  background-color: var(--discord-green);
  color: var(--white);
  transform: scale(1.02);
  transition: transform 0.2s, background-color 0.2s, color 0.2s;
  text-align: left;
}

.bold {
  text-decoration: bold;
}

/*******************************************************/
/******************** Forms Style ********************/
/*******************************************************/

.form {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background-color: var(--light-gray);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #333;
}

.form-input {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid var(--black);
  font-size: 16px;
  transition: border-color 0.3s;
}

.form-input:focus {
  border-color: var(--black);
  outline: none;
}

.btn {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 4px;
  border: none;
  transition: background-color 0.3s;
}

.btn-primary {
  background-color: var(--discord-blue);
  color: white;
  cursor: pointer;
}
